{% extends "material/base.html" %} 
<!DOCTYPE html>

<html>
   {% block title %}{{config.get('TITLE')}}{% endblock %} 

{% block content %}
    {% block header %}

        {% include "head.html" %}

    {% endblock %}

 
<p>Este software eh sobre analise financeira.</p>

<p>Para um investidor a analise financeira eh de extrema importancia,
pois por meio dela ele se guiara para tomar as melhores decisoes de
como e onde aplicara o seu dinheiro.</p>

<p>
  No mundo dos investimentos a informacao eh a materia prima para um
investidor se posicionar no melhor ativo finaceiro e tambem no melhor
momento. Portanto aqueles mais bem informados tem a chance de
diminuirem o risco envolvido nos investimentos.  
</p>

<p>
   O objetivo deste software nao eh recomendar a compra ou venda de acoes
ou de qualquer outro tipo de ativo financeiro. O proposito eh
concentrar informacoes para alimentar os investidores e estes poderem
analisa-las para tomar as suas proprias decisoes. 
</p>



<img src="{{url_for('static' , filename='images/FernandoAPP.jpg')}}" style="width:300px;height:200px;"/>
<img src="{{url_for('static' , filename='images/GilvanAPP.jpg')}}"  style="width:300px;height:200px;">

{% include "footer.html" %}


{% endblock %}


</html>