    <footer class="page-footer blue-grey darken-4" >
        <div class="col s12 center grey-text">
            <font face="sans-serif" size="4">Desenvolvedores da Aplicação</font>
        </div>
        
        <div class="col s12 center">
                <p style="color: rgb(41, 156, 194)">Analista de Sistemas:</p>
                <p style="font-size: 12px; color: lightblue">Gilvan Macedo Guimarães - gilvan@tecnologias.com.br</p>
                <p style="font-size: 12px; color: lightblue">Fernando de Oliveira Pina - f.pina@tecnologias.com.br</p>
        </div>

        <div class = "center grey-text">&copy; Copyright    2021 FG Finance</div>
    </footer>
    
</body>