

   <footer class="page-footer" >
    <!-- <hr class="my-4"> -->
    <div class="divider"></div>
    
         <div class="row">
             <div class="col s12 center grey-text">
                 <font face="sans-serif" size="4">Desenvolvedores do Site</font>
             </div>
             
                <div class="col s6">
                    <div align="right">
                        Gilvan Macedo Guimaraes
                    </div>                 
                </div>
                <div class="col s6 ">
                 Analista de Sistemas
                </div>
                <div class="col s6">
                    <div align="right">
                        Fernando de Oliveira Pina
                    </div>                 
                </div>
                <div class="col s6 ">
                 Analista de Software 
                </div>
                  

       </div>

       
   
                 
                 <div class = "center grey-text">&copy; Copyright    2021 ADS FATEC</div>  
            

    </footer>
    
</body>
