{% include "headInitial.html" %}

      <div class="container">
         <div class="tela_index">
            <img src="../static/images/mercado-financeiro-tela-index.jpg">
            <div class="fundo_transparente_inicial"></div>
            <div id="options">
               <div id="cadastro">
                  <h5><strong>Ainda não possui cadastro?</strong></h5>
                  <a class="waves-effect teal lighten-2 btn-large" href="/userRegister">Cadastro</a>
               </div>
               <div id="login">
                  <h5><strong>Já possui cadastro?</strong></h5>
                  <a class="waves-effect pink darken-2 btn-large" href="/login">Login</a>
               </div>
            </div>
         </div>
      </div>

   {% include "footerInitial.html" %}
</html>