   <!-- {% include "headInitial.html" %}
      <br>
      <br>
      <br>
      <br>
      <div class="center quadro_cadastro">
         <h5>Ainda não possui cadastro?</h5>
         <span><a class="waves-effect waves-light btn-large" href="/userRegister">Cadastro</a></span>
      </div>
      <div class="center quadro_login">
         <h5>Já possui cadastro?</h5>
         <span><a class="waves-effect red btn-large" href="/login">Login</a></span>
      </div>
      <br>
      <br>
      <br>

   {% include "footerInitial.html" %}
</html> -->
<!-- ===================================================================================================== -->
<!-- {% include "headInitial.html" %}

      <div class="container">
         <div class="tela_index">
            <img src="../static/images/mercado-financeiro-tela-index.jpg">
            <div id="fundo">
               
            </div>
            <div id="options">
               <div id="cadastro">
                  <h5>Ainda não possui cadastro?</h5>
                  <a class="waves-effect teal lighten-2 btn-large" href="/userRegister">Cadastro</a>
               </div>
               <div id="login">
                  <h5>Já possui cadastro?</h5>
                  <a class="waves-effect pink darken-2 btn-large" href="/login">Login</a>
               </div>
            </div>
         </div>
      </div>

   {% include "footerInitial.html" %}
</html> -->

<!-- ===================================================================================================== -->

{% include "headInitial.html" %}

      <div class="container">
         <div class="tela_index">
            <img src="../static/images/mercado-financeiro-tela-index.jpg">
            <div id="fundo_transparente"></div>
            <div id="options">
               <div id="cadastro">
                  <h5 class="blue-grey-darken-4-text">Ainda não possui cadastro?</h5>
                  <a class="waves-effect teal lighten-2 btn-large" href="/userRegister">Cadastro</a>
               </div>
               <div id="login">
                  <h5>Já possui cadastro?</h5>
                  <a class="waves-effect pink darken-2 btn-large" href="/login">Login</a>
               </div>
            </div>
         </div>
      </div>

   {% include "footerInitial.html" %}
</html>