{% include 'head.html' %}
  
 
  
  
<div >
  <ul class="collection with-header">
    <li class="collection-header"><h4>Lista Usuarios</h4></li>
    <li class="collection-item">
      <div class="row">
        <div class="col s2">
          ID
        </div>
        <div class="col s2">
          Nome
        </div>
        <div class="col s3">            
          Email
        </div>
        <div class="col s3">            
          Senha
        </div>
        <div class="col s2">
          
        </div>
      </div>
    </li>
    {% for row in rows%}
    <li class="collection-item">
      <div class="row">
        <div class="col s2">
          <label id="{{row[0]}}">{{row[0]}}</label>
        </div>
        <div class="col s2">
          {{row[1]}}
        </div>
        <div class="col s3">
          {{row[2]}}
          
        </div>
        <div class="col s3">
          ********            
        </div>
        <div class="col s2">
          <span style="padding: 5px;">
            <a href="/listUsers?idUpdateUser={{row[0]}}" >
            <i class="material-icons">cached</i></a>
            </span>
          <span style="padding: 5px;">
            <a href="/listUsers?idDeleteUser={{row[0]}}" >
            <i class="material-icons">delete</i></a>
          </span>
          
        </div>
        
      </div>
    </li>
    {% endfor%}
  </ul>
</div>

{% include "footer.html" %}
<script>
  function defLista(){
    var items = document.getElementsByClassName("validate");
    var len = items.length;
    var valid = true;
    for (var i = 0; i < len; i++){
      if (!items[i].value ) {valid = false;}
    }
    if (!valid){
            alert('Por favor preencha todos os campos.');
            return false;
          } else { return true; }
  }
</script>

</html>


