	{%  include 'headInitial.html' %}

	<h4 class="center white-text">Login</h4>

	<section class="container white-text">
		<div id="section-login">
			<div class="fundo_transparente_login"></div>
			<form id="form_login" action="/login" method="post" onsubmit="return validForm()">
				<div class="input-field col s12">
					<input id="name_pass" type="text" name="usuario" value="" class="validate" style="border-bottom: 1px solid white;">
					<label class="active" for="name_pass" style="font-size: 20px;">Usuário</label>
				</div>
				<div class="input-field col s12">
					<input id="password" type="password" name="senha" value="" class="validate" style="border-bottom: 1px solid white;">
					<label class="active" for="password" style="font-size: 20px;">Senha</label>
				</div>
				
				<div class="center">
					<input type="submit" name="enviar" value="Enviar" class="waves-effect pink darken-2 btn-large">
				</div>
			</form>
			<div class="nova_senha" style="margin-bottom: 20px;"> 
				<a href="userRegister">Esqueci minha senha</a>
			</div>
		</div>
	</section>

	{% include 'footerInitial.html' %}
<script>
	function validForm(){
		var items = document.getElementsByClassName("validate");
		var len = items.length;
		var valid = true;
		for(var i = 0; i < len; i++){
			if (!items[i].value){
				valid = false;
			}
		}

		if (!valid){
            alert('Por favor preencha todos os campos.');
            return false;
          } else { return true; }
	}
</script>
</html>