	{%  include 'headInitial.html' %}

	<h4 class="center white-text">Login</h4>

	<section class="container white-text">
		<div id="section-login">
			<div class="fundo_transparente_login"></div>
			<form id="form_login" action="/dashboard" method="post">
				<div class="input-field col s12">
					<input id="name_pass" type="text" name="nome" value="" class="validate">
					<label class="active" for="name_pass">Usuário</label>
				</div>
				<div class="input-field col s12">
					<input id="password" type="password" name="senha" value="" class="validate">
					<label class="active" for="password">Senha</label>
				</div>
				
				
				<div class="center">
					<input type="submit" name="enviar" value="Enviar" class="waves-effect pink darken-2 btn-large">
				</div>
				<div class="center" style="margin-bottom: 20px;"> 
					<a href="userRegister">Esqueci minha senha</a>
				</div>
			</form>
		</div>
	</section>

	{% include 'footerInitial.html' %}

</html>