	{%  include 'headInitial.html' %}

	<section class= "container grey-text">
		<h4 class="center">Login Usuario</h4>

		<form action="/dashboard" method="post">
			<input id="name_pass" type="text" name="nome" value="" class="validate">
			<label for="name_pass"> Nome</label>
			<input id="password" type="password" name="email" value="" class="validate">
			<label for="password"> email </label>
			<div class="center" style="margin: 10px 5px 10px 5px;">
				<input type="submit" name="enviar" value="Enviar" class="waves-effect red btn-large">
			</div>
			<div class="center" style="margin-bottom: 20px;"> 
				<a href="userRegister">Esqueci minha senha</a>
			</div>
		</form>
	</section>

	{% include 'footerInitial.html' %}

</html>