<html>
  {% include 'head.html' %}
  
  <div  style="padding: 5px;">
    <div class="center">
      <h5 style="color: #8E9E58;">Retorno do valuation</h5>
    </div>
    <table>
      <tr>
          <th style="text-align: right;">Ticker</th>
          <th style="text-align: right;">Ebit [R$]</th>
          <th style="text-align: right;">Ebitda [R$]</th>
          <th style="text-align: right;">NCL</th>
          <th style="text-align: right;">Qtde Ações</th>
          <th style="text-align: right;">Enterprise [R$]</th>
          <th style="text-align: right;">Equity Value [R$]</th>
          <th style="text-align: right;">Preço da ação [R$]</th>
      </tr>
      <tr>
        <td style="text-align: right;">{{dados['setExterior']}}</td>
        <td style="text-align: right;">{{'%0.2f'|format((ivalues.ebit[4])|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.ebitda[4]|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.ncl[4]|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.quantityStock|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.enterprise|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.equity|float)}}</td>
        <td style="text-align: right;">{{'%0.2f'|format(ivalues.stockPrice|float)}}</td>
      </tr>
    </table>
    <br>
    <form action="/exportFiles" method="post">
      <input type="hidden" name="stockPrice" value="{{ivalues.stockPrice}}">
      <input type="hidden" name="enterpriseValue" value="{{ivalues.cash}}">
      <input type="hidden" name="fclTerminal" value="{{ivalues.cash}}">
      <input type="hidden" name="ir" value="{{ivalues.ir}}">
      <input type="hidden" name="depAm" value="{{ivalues.depAm}}">
      <input type="hidden" name="nopat" value="{{ivalues.nopat}}">
      <input type="hidden" name="capex" value="{{ivalues.capex}}">
      <input type="hidden" name="ebit" value="{{ivalues.ebit}}">
      <input type="hidden" name="ebitda" value="{{ivalues.ebitda}}">
      <input type="hidden" name="stockPrice" value="{{ivalues.stockPrice}}">

     <div class="row">
        <div class="col s6">
          <button type="submit" name="method" value="json" class="waves-effect pink darken-2 btn-large"> Gerar Json </button>
        </div>
     
        <div class="col s6">
          <button type="submit" name="method" value="csv" class="waves-effect pink darken-2 btn-large"> Gerar CSV </button>
        </div>
      </div>
    </form>
  </div>
    
          
      {% include "footer.html"  %}
  </html>
  
 