  {% include 'head.html' %}
        
  <div class="input-field pesquisa blue-grey lighten-1">
    <i class="material-icons prefix ">search</i>
    <input name="buscaTicker" onchange="searchTicker(this.value)" type="text" class="validate">
  </div>

  <div>
    <ul id="lista">
      <li></li>
    </ul>
  </div>

  <canvas id="myChart" ></canvas>
      
  <script>
    // Line Chart
    new Chart(document.getElementById("myChart"), {
      type: 'line',
      data: {
        labels: {{labelsData | safe}},
        datasets: [
          {
            label: "Population (millions)",
            borderColor: "#3e95cd",
            data: {{valuesData | safe}}
          }
        ]
      },
      options: {
        responsive:true,
        title: {
          display: true,
          text: 'Total Confirmed Cases of COVID in May'
        }
      },
      hover: {
      mode: 'index',
      intersect: true
      },
    });
    
    function searchTicker(value){
      var ul = document.getElementById("lista")[0]
      var elem  = document.createElement('li');
      var texto = document.createTextNode("teste");
      elem.appendChild(texto);
      lista.appendChild(elem);
    /*  var x = document.getElementById('showTickers');
      x.value = value; */
    }
  </script>

  {% include "footer.html" %}
</html>


