  {% include 'head.html' %}
        
  <div class="input-field pesquisa blue-grey lighten-1">
    <i class="material-icons prefix ">search</i>
    <input name="buscaTicker" onchange="searchTicker(this.value)" type="text" class="validate">
  </div>

  <div>
    <ul id="lista">
      <li></li>
    </ul>
  </div>

  <canvas id="myChart" ></canvas>
      
  <script>

    var label = {{labelsData | safe}};
    var dados = [
      {
        borderColor: "#3e95cd", 
        data: {{valuesData | safe}}
      } ,
      /* {
        borderColor: "#3ecd3e", 
        data: [4 , 5 , 6]
      } ,
      {
        borderColor: "#cd813e", 
        data: [7 , 8 , 9]
      } , */

    ]

    const ctx = document.getElementById("myChart")
    const mychart  = new Chart(ctx, {
            type: 'line',
            data: {
              labels: label,
              datasets: dados
            },
            options: {
              responsive:true,
              title: {
                display: true,
                text: 'Total Confirmed Cases of COVID in May'
              }
            },
            hover: {
     
      intersect: false

      },
    });
    

        function searchTicker(value){
        var ul = document.getElementById("lista")[0]
          var elem  = document.createElement('li');
          var texto = document.createTextNode("teste");
          elem.appendChild(texto);
          lista.appendChild(elem);
          document.location = "/simulation?ticker=" + value;
          
          
        /*  var x = document.getElementById('showTickers');
          x.value = value; */
        }

  </script>

  {% include "footer.html" %}
</html>


