
{%  include 'headInitial.html' %}

<h4 class="center white-text">Cadastrar Usuario</h4>

<section class="container white-text">
	<div id="section-cadastro">
		<div class="fundo_transparente_cadastro"></div>
		<form id="form_cadastro" action="/login" method="POST">
				<div class="input-field col s12">
					<input id="name_user" type="text" name="name_user" value="" class="validate" style="border-bottom: 1px solid white;">
					<label class="active" for="name_user" style="font-size: 20px;">Nome</label>
				</div>
				<div class="input-field col s12">
					<input id="email" type="text" name="email" value="" class="validate" style="border-bottom: 1px solid white;">
					<label class="active" for="email" style="font-size: 20px;">E-mail</label>
				</div>
				<div class="input-field col s12">
					<input id="senha" type="text" name="senha" value="" class="validate" style="border-bottom: 1px solid white;">
					<label class="active" for="senha" style="font-size: 20px;">Senha</label>
				</div>
			<div class="center" style="margin: 10px 5px 10px 5px;">
				<input type="submit" name="salvar" value="Salvar" class="waves-effect pink darken-2 btn-large">
			</div>
		</form>
	</div>
</section>

	{% include 'footerInitial.html' %}

</html>