
<html>

  {% include 'head.html' %}
  
  <h3 class="center grey-text">Dados para executar valuation</h3> 
  <form action="/showvaluation" class="white" method = "post" form = "formEvento">
    
    <div class="row">
    
        <div class="row">
          <div class="input-field col s12">
      <div class="white">
        <label >Aliquota do Imposto de Renda</label>
            <input name="aliqutoaIR" type="number"  class="validate">
           </div> 
          </div>       
        </div>
      
      <div style="padding: 5px;">
          
      
        <label >Valores Ebit</label>
        <table >
          <thead>
            <tr>
                <th style="color:black"><label id="ebit1">loading...  </label></th>
                <th style="color:black"><label id="ebit2"> loading... </label></th>
                <th style="color:black"><label id="ebit3"> loading... </label></th>
                <th style="color:black"><label id="ebit4">loading...  </label></th>
                <th style="color:black"><label id="ebit5"> loading... </label></th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td><input type="number" name="ebit1"></td>
              <td><input type="number" name="ebit2"></td>
              <td><input type="number" name="ebit3"></td>
              <td><input type="number" name="ebit4"></td>
              <td><input type="number" name="ebit5"></td>
            </tr>
           </tbody>
        </table>

        <label >Valores EBITDA</label>
        <table >
          <thead>
            <tr>
                <th style="color:black"><label id="ebitda1">loading...  </label></th>
                <th style="color:black"><label id="ebitda2"> loading... </label></th>
                <th style="color:black"><label id="ebitda3"> loading... </label></th>
                <th style="color:black"><label id="ebitda4">loading...  </label></th>
                <th style="color:black"><label id="ebitda5"> loading... </label></th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td><input type="number" name="ebitda1"></td>
              <td><input type="number" name="ebitda2"></td>
              <td><input type="number" name="ebitda3"></td>
              <td><input type="number" name="ebitda4"></td>
              <td><input type="number" name="ebitda5"></td>
            </tr>
           </tbody>
        </table>
                 
        </div>
      
      <div class="row">
          <div class="input-field col s12">
      <div class="white">
        <label >Crescimento previsto</label>
            <input name="growth" type="number" step="0.01"  class="validate">
           </div> 
          </div>       
        </div>
      
      <div class="row">
          <div class="input-field col s12">
      <div class="white">
        <label >Investimentos previstos</label>
            <input name="reinvest" type="number" value="" class="validate">
        
        <input type="hidden" name = "idShow" value="" >
           </div> 
          </div>       
        </div>
      
      <div class="row">	  
      <div class="col s12">
        <div class="center" style="margin-top: 10px;">
        <input type="submit" name="salvarEvento" value="Salvar" class="btn-brand z-depth-0">
      </div>
      </div>
      
      </div>
        
      </form>

    <script>
      window.onload = function(){
        var actualYear = new Date();
        for (var i = 5; i > 0 ; i-- ){
          var ebit = document.getElementById("ebit" + i);
          var ebitda = document.getElementById("ebitda" + i);
          ebit.textContent = actualYear.getFullYear() - i;
          ebitda.textContent = actualYear.getFullYear() - i;
        }
        
        
      }
    </script>
     
          
      {% include "footer.html"  %}
  </html>
  
